{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="songList"></div>
        <h1>Best of Emusic</h1>
        <div class="songItemcontainer">
            <div class="songItem">
                <img  alt="1">
                <span class="songName">Jai shree ram</span>
                <span class="songListplay"><span class="timestamp">4:32 <i id="0" class="fa-solid songItemPlay fa-circle-play"></i></span></span>
            </div>
            <div class="songItem">
                <img  alt="1">
                <span class="songName">Jai shree ram</span>
                <span class="songListplay"><span class="timestamp">4:32 <i id="1" class="fa-solid songItemPlay fa-circle-play"></i></span></span>
            </div>
            <div class="songItem">
                <img  alt="1">
                <span class="songName">Jai shree ram</span>
                <span class="songListplay"><span class="timestamp">4:32 <i id="2" class="fa-solid songItemPlay fa-circle-play"></i></span></span>
            </div>
            <div class="songItem">
                <img  alt="1">
                <span class="songName">Jai shree ram</span>
                <span class="songListplay"><span class="timestamp">4:32 <i id="3" class="fa-solid songItemPlay fa-circle-play"></i></span></span>
            </div>
            <div class="songItem">
                <img  alt="1">
                <span class="songName">Jai shree ram</span>
                <span class="songListplay"><span class="timestamp">4:32 <i id="4" class="fa-solid songItemPlay fa-circle-play"></i></span></span>
            </div>
        </div>   
    <div class="songBanner"></div>
</div>


{% endblock %}